<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Permissions-Policy" content="ambient-light-sensor=(self)">
    <title>Sistemas Embebidos | TP Integrador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-luxon/1.2.0/chartjs-adapter-luxon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-streaming/2.0.0/chartjs-plugin-streaming.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='charts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <h1>Sistemas Embebidos</h1>
    <h2>Trabajo Práctico Integrador</h2>
    <div class="authors">Adriano Fabris, Gonzalo Padilla, Mariano Robledo</div>
    
    <form>
        <fieldset>
            <legend>Controles</legend>
            <div></div>
            <div>Dato a enviar</div>
            <div>Sensibilidad</div>
            <div></div>
            <input type="radio" id="volume-button" name="streaming-mode" value="volume">
            <label for="volume-button">Volumen</label>
            <input type="range" id="volume-sensitivity-range" name="volume-sensitivity" min="0.2" max="5" step="0.05" value="1">
            <div id="volume-sensitivity">100%</div>
            <input type="radio" id="illumination-button" name="streaming-mode" value="illumination">
            <label for="illumination-button">Iluminación</label>
            <input type="range" id="light-sensitivity-range" name="light-sensitivity" min="0.2" max="5" step="0.05" value="1">
            <div id="light-sensitivity">100%</div>
        </fieldset>
    </form>
    <div class="charts">
        <div class="chart-container">
            <canvas id="arduino-illumination"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="arduino-buttons"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="local-illumination"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="local-volume"></canvas>
        </div>
    </div>
    <div class="error"></div>
</body>
</html>