<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas Embebidos | TP Integrador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-luxon/1.2.0/chartjs-adapter-luxon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-streaming/2.0.0/chartjs-plugin-streaming.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <h1>Sistemas Embebidos</h1>
    <h2>Trabajo Práctico Integrador</h2>
    <div>Adriano Fabris, Gonzalo Padilla, Mariano Robledo</div>
    <form>
        <fieldset>
            <legend>Qué dato mostrar en el Arduino?</legend>
            <label>
                <input type="radio" name="choice" value="volume">
                Volumen
            </label><br>
            <label>
                <input type="radio" name="choice" value="illumination">
                Iluminación
            </label>
        </fieldset>
    </form>
    <canvas id="arduino-illumination"></canvas>
    <canvas id="local-volume"></canvas>
    <canvas id="local-illumination"></canvas>
    <div id="ilm">Iluminación</div>
    <div id="out">Out</div>
</body>
</html>