
* {
    font-family: Roboto, sans-serif, system-ui;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin-bottom: 12px;
}

form  {
    margin-top: 24px;
}

canvas {
    margin-top: 36px;
    max-width: 800px;
    max-height: 400px;
}