
* {
    font-family: Roboto, sans-serif, system-ui;
}

body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, .authors {
    text-align: center;
}

.authors {
    margin-top: 12px;
}

form {
    margin-top: 14px;
    width: min(400px, 100%)
}

fieldset {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    gap: 2px 24px;
    align-items: center;
}

.charts {
    max-width: min(1700px, 100%);
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));;
    grid-auto-rows: 420px;
    gap: 32px 24px;
    justify-content: center;
}

.chart-container {
    position: relative;
}