<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas Embebidos TP 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>
<body>
    <h1>Sistemas Embebidos</h1>
    <h2>Trabajo Práctico Nº 2</h2>

    <form action="update" method="post">
        <label for="led09">
            LED 9
            <input type="range" name="led09" id="led09" min="0" max="255" step="1" value="{{ led09brightness }}">
        </label>
        <label for="led10">
            LED 10
            <input type="range" name="led10" id="led10" min="0" max="255" step="1" value="{{ led10brightness }}">
        </label>
        <label for="led11">
            LED 11
            <input type="range" name="led11" id="led11" min="0" max="255" step="1" value="{{ led11brightness }}">
        </label>
        <label for="led13">
            LED 13
            <input type="checkbox" name="led13" id="led13" {% if led13status %}checked{% endif %}>
        </label>
        <div>
            Iluminación:
            <span id="illumination">Cargando...</span>
        </div>
    </form>

</body>
</html>