<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas Embebidos | TP Nº 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</head>
<body>
    <h1>Sistemas Embebidos</h1>
    <h2>Trabajo Práctico Nº 2</h2>

    <form action="" method="post">
        <label for="read-luminosity">
            Lectura:
            <input type="checkbox" name="read-luminosity" id="read-luminosity" {% if readingLuminosity %}checked{% endif %}>
        </label>
        <div id="illumination-field" {% if not readingLuminosity %}class="disabled"{% endif %}>
            Iluminación:
            <span id="illumination-value">{% if readingLuminosity %}Cargando...{% else %}Sin datos{% endif %}</span>
        </div>
        <div id="alarm" {% if not alarmTriggered %}class="hidden"{% endif %}>
            Alarma activada! ⚠️
        </div>
    </form>

</body>
</html>